.seccion{
    padding-left: 50px;
    padding-right: 50px;
}

.seccion2{
    padding-left: 80px;
    padding-right: 80px;
}

#map {
    height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}